jumphost:
  hosts:
    ${jump}:

czar:
  hosts:
    ${czar}:

workers:
  hosts:
%{ for worker in workers ~}
    ${ worker }:
%{ endfor ~}

utility nodes:
  hosts:
%{ for utility in utility_nodes ~}
    ${ utility }:
%{ endfor ~}
