jumphost:
  hosts:
    ${jump}:

boss:
  hosts:
    ${jump}:

czar:
  hosts:
    ${czar}:

workers:
  hosts:
%{ for worker in workers ~}
    ${ worker }:
%{ endfor ~}

utility_nodes:
  hosts:
%{ for utility in utility_nodes ~}
    ${ utility }:
%{ endfor ~}

goons:
  hosts:
    ${czar}
%{ for worker in workers ~}
    ${ worker }:
%{ endfor ~}
%{ for utility in utility_nodes ~}
    ${ utility }:
%{ endfor ~}    
