Host ${jump}
    Hostname ${jump_ip}
    User ubuntu
    IdentityFile ~/.ssh/keys/gb_somerville_test_key.pem

%{ for index, node in nodes ~}
Host "${node}"
    Hostname ${node_ips[index]}
    proxyjump ${jump}
    User ubuntu
    IdentityFile ~/.ssh/keys/gb_somerville_test_key.pem
    proxyjump ${jump}
%{ endfor ~}
